@font-face {
	font-family: 'Proxima Nova';
	src: url('fonts/proximanova-regular-webfont.eot');
	src: local('☺'), url('fonts/proximanova-regular-webfont.woff') format('woff'), url('proximanova-regular-webfont.ttf') format('truetype'), url('fonts/proximanova-regular-webfont.svg#webfontw7zqO19G') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Light';
	src: url('fonts/proximanova-light-webfont.eot');
	src: local('☺'), url('fonts/proximanova-light-webfont.woff') format('woff'), url('proximanova-light-webfont.ttf') format('truetype'), url('fonts/proximanova-light-webfont.svg#webfontw7zqO19G') format('svg');
	font-weight: normal;
	font-style: normal;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font-family: "Proxima Nova", Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
#content {

	position: absolute;
	overflow:hidden;
	width: 100%;
	height: 100%;
}
#content.editApp {
	
}
#main-data, #alt-data {
width:100.1%;
}

a {
	text-decoration: none;
}
a.go {
	display: block;
	background: url('../img/go.png');
	height: 16px;
	width: 10px;
}
ul#appList li {
	font-family: "Proxima Nova Light", Helvetica, sans-serif;
	list-style-type: none;
	padding: 20px 0px 0px 10px;
	border-bottom: 1px solid #dddddd;
	background-color: #fafafa;
}
ul#appList li.date-head {
	font-size: 10px;
	list-style-type: none;
	padding: 10px 10px;
	border-bottom: 1px solid #dddddd;
	background-color: #5a5651;
	color: #fff;
}
nav {
	margin: 0;
	padding: 0
}

#appList li .fl {

	float: left;
}
#appList li .fr {

	float: right;
	margin-top: -20px;
}
#appList li .fr.hidden-delete-show {
	height: 33px;
	margin-top: -1px;
	margin-bottom: -1px;
}
#appList li div {

	margin: 0px 0px;;
}
#appList li div.title {
	float: left;
	margin: 0 0 0 10px
}
#appList li .outer .app-link, #appList li .outer .date, #appList li .outer .r, #appList li .outer .hidden-delete {

	float: right;
}
#appList li .outer {
	float: left;
}
.hidden-delete {
	display: none;
}

.hidden-delete-show {
	width: 100px;
	background: #e83c3c;
	color: #fff;
	-webkit-animation: moveleft .2s 1;
	animation: moveleft .5s 1;
	padding: 18px 10px 2px 10px;;
}
.hidden-delete-hide {
	width: 0px;
	background: #e83c3c;
	color: #fff;
	-webkit-animation: moveright .2s 1;
	animation: moveright .5s 1;
	padding: 0px;
}
.slide-left {
	-webkit-animation: hideleft .2s 1;
	animation: hideleft .5s 1;
}

#appList li div.fl.slide-left {
	margin-left: -100px;
}
.slide-right {
	-webkit-animation: hideright .2s 1;
	animation: hideright .5s 1;
}

#appList li div.fl.slide-right {
	margin-left: 0px;
}
@keyframes moveright{
0%{width:100%},
50%{width:50%},
100%{width:0%}
}
@-webkit-keyframes moveright{
0%{width:100%},
50%{width:50%},
100%{width:0%}
}
@keyframes moveleft{
0%{width:0px},
50%{width:50%},
100%{width:100%}
}
@keyframes hideleft{
0%{margin-left:0px},
50%{margin-left:-50px},
100%{margin-left:-100px}
}
@keyframes hideright{
0%{margin-left:-100px},
50%{margin-left:-50px},
100%{margin-left:0px}
}
@-webkit-keyframes hideright{
0%{margin-left:-100px},
50%{margin-left:-50px},
100%{margin-left:0px}
}
@-webkit-keyframes moveleft{
0%{width:0px},
50%{width:50%},
100%{width:100%}
}
@-webkit-keyframes hideleft{
0%{margin-left:0px},
50%{margin-left:-50px},
100%{margin-left:-100px}
}
.del {
	display: none;
}
#appList li div.del {

	float: left;
	padding: 12px 0px 5px 0px;
	width: 17px;
	background: url('../img/del.png');
	cursor: pointer;
}
.app-link {
	display: none;
	padding: 15px 10px
}
#appList li .outer {
	display: table;
	vertical-align: middle;
}
#appList li .outer.right {
}

#appList li .date {
	font-size: 13px;
	color: #dddddd;
	padding: 0px 10px;
	margin: -2px 0px 0px 0px;
	padding: 20px 10px
}
.clear {
	clear: both;
	height: 0px
}
input {
	border: 0;
	background: inherit;
	width: 225px;
	height: 20px;
	font: 1em Proxima Nova Light
}
.start-cover {
	cursor: pointer
}
.start-input {
	/*display: none;*/
}

.editApp ul#appList li {
	padding-bottom: 10px;
	height: 100%;
}
#appList
#main-nav {
	margin: 0 auto;
	height: 2em;
	background: #4daf7b;
	width: 100%;
	color: #fff;
	padding-top: 10px;
	text-align: center;
}
#appList nav ul li {

	width: 58%;
	float: left;
	cursor: pointer;
	padding: .25em 0;
	font-size: 1em;
	background-color: transparent;
	border: 0;
}
#appList nav ul li:first-child {
	text-align: left;
	width: 18%;
	padding: .25em 0 0 2%;
	text-shadow: 1px 1px 1px #444;
}
#appList nav ul li:last-child {
	text-align: right;
	width: 18%;
	padding: .25em 0 0 2%;
	text-shadow: 1px 1px 1px #444;
}
#appList nav ul li.nav-last:last-child {
	text-align: right;
	width: 18%;
	padding: 0 0 0 2%
}

#appList nav ul li a {
	color: #fff;
}
#appList nav ul li.nav-last {
	font-weight: bold;
	font-size: 32px;
	line-height: 25px
}
.editApp #appList li:last-child {
	border: none;
	height: 100%;
}
textarea {
	border: 0;
	font: 1em 'Proxima Nova Light'
}
nav.head .main-nav {
	margin: 0 auto;
	height: 2em;
	background: #4daf7b;
	width: 100%;
	color: #fff;
	padding-top: 10px;
	text-align: center;
	overflow: hidden;
}
nav.head ul li {

	width: 58%;
	float: left;
	cursor: pointer;
	padding: .25em 0;
	font-size: 1em;
	background-color: transparent;
	border: 0;
}
nav.head ul li.button {
	text-align: left;
	width: 18%;
	padding: .25em 0 0 2%;
	text-shadow: 1px 1px 1px #444;
}
nav.head ul li.button.nav-last {
	text-align: right;
	width: 18%;
	padding: .25em 0 0 2%;
	text-shadow: 1px 1px 1px #444;
}
nav.head ul li.nav-last.button {
	text-align: right;
	width: 18%;
	padding: 0 0 0 2%
}

nav.head ul li a {
	color: #fff;
}
nav.head ul li.nav-last {
	font-weight: bold;
	font-size: 32px;
	line-height: 25px
}
nav.head ul li.nav-last.detail {
	padding-top: .25em;
	font-weight: normal;
	font-size: 1em;
	line-height: 1em;
}
.detail, .edit {
	display: none
}
li.nav-last:after {
	clear: both
}
.error {
	font-size: .7em;
	color: #ff0000
}
#main-data, #alt-data{position:absolute;top:42px; left:0;margin:-1px 0 0 -1px; border: 1px solid transparent; border-right:0;}
#main-data.left , #alt-data.left{

    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
 
#main-data.center , #alt-data.center{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
 
#main-data.right , #alt-data.right{
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
 
#main-data.transition, #alt-data.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}
