<!DOCTYPE html>
<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width" initial-scale=1.0; maximum-scale=1.0; user-scalable=0; />
    
    <meta charset="UTF-8"/>
        <title>Appointments</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
    	<div id="content">
    	<header>
    		<nav>
    			<ul id="main-nav">
    				<li ><a class='edit-main' href='/edit/'>Edit</a></li>
    				<li >My Appointments</li>
    				<li class="add-main">+</li>
    			</ul>
    		</nav>
    	</header>
    	<ul id="appList">
    	</ul>
    	</div>
    	<script type="text/template" id="item-template">
  
    		
    		<div class='del'></div>
    		<div class='title'> <%= title %></div>
    		<div class='app-link'><a class='go' href='/appointments/<%= _id %>'> </a></div>
    		 <div class='date'><%= $.format.date( new Date( startTime), 'hh:mm a' ) %></div>
    		 <div class='clear'></div>
    		
    	</script>
        <script src="js/lib/jquery-1.10.2.min.js"></script>
         <script src="js/lib/jquery.dateFormat-1.0.js"></script>
        <script src="js/lib/underscore.js"></script>
        <script src="js/lib/backbone.js"></script>
        <script src="js/models/appointment.js"></script>
        <script src="js/collections/appointments.js"></script>
        <script src="js/views/appointment.js"></script>
        <script src="js/views/appointmentlist.js"></script>
        <script src="js/views/navView.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>