<form id="editAppointment" action="#">

	<li>
		<input id="title" type="text" value="<%= title %>" required/><br/><span class='title-error error'></span>
	</li>
	<li>
	<div class="start-input">
			<input id="entry-day-time" name="entry-day-time" type="datetime-local" value="<%= $.format.date( new Date( startTime), 'yyyy' ) %>-<%=$.format.date( new Date( startTime), 'MM' ) %>-<%=$.format.date( new Date( startTime), 'dd' ) %>T<%= $.format.date( new Date( startTime), 'HH:mm' ) %>:00"/>
		</div>
	</li>

	<li>
	<div class="start-input">
			<input id="entry-day-end-time" name="entry-day-end-time" type="datetime-local" value="<%= $.format.date( new Date( endTime), 'yyyy' ) %>-<%=$.format.date( new Date( endTime), 'MM' ) %>-<%=$.format.date( new Date( endTime), 'dd' ) %>T<%= $.format.date( new Date( endTime), 'HH:mm' ) %>:00"/>
		<br/><span class='endtTime-error error'></span>
		</div>

	</li>
	<li>
		<input type="text" name="appointmentName" id="appointmentName" value="<%= appointmentName %>" />
		<br/><span class='appointmentName-error error'></span>
	</li>
	<li>
		<textarea name="description" id="description" ><%= description %></textarea>
		<br/><span class='description-error error'></span>
</li>
</form>