<li class="main button go-edit">
<!--	<a href='#edit'>Edit</a> -->
	Edit
</li>
<li class="main">
	<a href='#home'>My Appointments</a>
</li>

<li  class='nav-last main button'>
	<div class='add-main-inner'>
		<a href='#add' class='add-main'>+</a>
	</div>
</li>

<li class="edit button done">
	Done
</li>
<li class="edit">
	<a href='#edit'>Edit Appointments</a>
</li>
<li class="nav-last"></li>

<li class="detail button">
	<a href='#edit'>Cancel</a>
</li>
<li class="detail">
	<a href='#home'>My Appointments</a>
</li>
<li class='edit-save  detail nav-last button' >
	<a class='pr' href='#save'>Save</a>
</li>

