<li class="main button go-edit">
	<!--	<a href='#edit'>Edit</a> -->
	Edit
</li>
<li class="main">
	<a href='#home'>My Appointments</a>
</li>

<li  class='nav-last main button'>
	<div class='add-main-inner'>
		<a href='#add' class='add-main'>+</a>
	</div>
</li>

<li class="detail button cancel-add">
	Cancel
</li>
<li class="detail">
	New Appointment
</li>

<li class='detail add-save   nav-last button' >
	Save
</li>



<li class="edit button done   button">
	Done

</li>


<li class="edit">
	<a href='#edit'>Edit Appointments</a>
</li>
<li class="nav-last "></li>


